@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Esto es PSports</h1>
    <p>Aqui podras crear tu propio torneo de futbol, agregando los equipos que desees y realizando los enfrentamientos entre ellos.</p>

        <p>Tu Torneo inicia por aca...<a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"><strong>Registrate</strong></a></p>
   
</div>
    